<%= form_for([current_user, @report], role: "form") do |f| %>
  <h2 class="form-signin-heading"></h2>
    <%= f.text_field :school, autofocus: true, required: true, placeholder: 'School', class: "form-control" %>
    <%= f.text_field :dbn, autofocus: true, placeholder: 'DBN', class: "form-control" %> 
    <%= f.date_field :date, autofocus: true, required: true, class: "form-control" %>
    <%= f.text_field :purpose, autofocus: true, required: true, placeholder: 'Purpose', class: "form-control" %>
    <%= f.text_field :comments, autofocus: true, required: true, placeholder: 'What questions, concerns, and/or issues were raised?', class: "form-control" %>
    <%= f.text_field :next_steps, autofocus: true, required: true, placeholder: 'Next Steps/Follow-Up', class: "form-control" %>
    <%= f.text_field :additional_info, autofocus: true, required: true, placeholder: 'Anything else?', class: "form-control" %>
    

  <div><%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %></div>
<% end%>