<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th>New</th>
      <th>Create</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.school %></td>
        <td><%= report.dbn %></td>
        <td><%= link_to 'Show', user_report_path(current_user, report) %></td>
        <td><%= link_to 'Edit', edit_user_report_path(current_user, report) %></td>
        <td><%= link_to 'Destroy', user_report_path(current_user, report), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_user_report_path %>
